<div id="session_bar">
<ul>
<% if logged_in? %>

	<li> <%= current_user.email %> </li>
	<li>
	<%= link_to "sign out", { :controller 	=> 'sessions', 
													 	:action 			=> 'destroy'}, 
														:method => :delete    %>
	</li>
<% else %>
	<li>
	<%= link_to "sign in", { 	:controller 	=> 'sessions', 
												 		:action 			=> 'new' } %>
	</li>
<% end %>
</ul>
</div><!--end session_bar-->