<table>
<thead>
  <tr>
  <th></th>
  <th></th>  
  </tr>
</thead>
<tbdoy>
	<% listings.each do |listing| %>
  <tr>
    <td><%= listing.created_at.to_s %></td>
    <td><%= listing.comment %></td>
    <td><%= link_to "mark as sold" %></td>  
  </tr>
	<% end %>			

</tbody>
</table>