<div id="center">
	<h2>Sell your copy of "<%= @book.title %>" </h2>
	<% form_for [@book,@listing] do |f|%>
	<fieldset>
			<%= render :partial => 'listings/form', :locals => { :f => f } %>
			<%= f.submit "create listing"%>	or <%= link_to "back to book", @book %>			
	</fieldset>
	<% end %>	

</div><!--end center-->
