/*			Atoms				*/
body {
	background-color:#5C7EE6;
	font-family:helvetica;
}
h1 {
	clear:left;
	font-size:18pt;
	color:#363636;
}
h1 a {
	font-size:18pt;
	color:#363636;
}
h2 {
	margin-top:20px;
	font-size:22px;
	color:#363636;
}
h3 {
	font-size:12pt;
	color:#363636;
}
h3 a {
	color:#363636;
	text-decoration:none;
}
h3 a:hover {
	color:green;
	border-bottom:1px solid yellow;
}

/*			Structure				*/
#container a.highlight {
	font-size:10pt;
	width:7em;
	padding:5px;
	color:#3C3C3C;
	background-color:#F2D37A;
}
#header {
	position:absolute;
	margin-top:0;
	width:900px;
	height:110px;
	margin-left:10%;
	margin-right:5%;
	padding-left:3em;	
}
#header img{
	float:left;
	border-style: none;
}
#session_bar {
	width:300px;
	float:right;
	margin-top:14px;
	margin-right:6em;
	padding-left:5px;
	background-color:#2A211C;
}
#session_bar ul {
	height:60%;
	font-size:12pt;
	list-style:none;
	margin-top:5px;
	margin-left:0;
	padding-left:0;
	background-color:#2A211C;
}
#session_bar li {
	text-align:left;
	color:white;
}
#session_bar li a {
	font:arial;
	color:white;
	text-decoration:none;
}
#session_bar li a:hover {
	font:arial;
	color:yellow;
	text-decoration:none;
}
#info_bar {
	color:#FFFFE3;
	position:absolute;
	margin-top:80px;
	margin-left:13%;
	margin-right:5%;
	height:40px;
	width:480px;
	padding-left:5px;
}
#container {
	position:absolute;
	background-color:#fff;
	width:900px;
	margin-top:110px;
	margin-left:10%;
	margin-right:5%
}
#center {
	background-color:#fff;
	width:800px;
	margin-left:3em;
	margin-right:3em;
}
#waiting_divs {
	position:absolute;
	top:0;
	width:400px;
	min-height:300px;
	background-color:#96BBBB;
	margin-top:10px;
	margin-left:25%;
	padding:10px;
}
#average_book_price {
	position:relative;
	width:450px;
	background:#3BE18D;
	font-family:helvetica;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
	padding:2px;
}
#average_book_price p {
		font-size:20pt;
		margin:5px;
}
.formError {
	padding:10px;
	margin-left:0;
	background:#C5656B;
}
#red_ex {
	background-color:red;
	float:left;
}
#flash_failure {
	color:#1F1F1F;
	padding:4px;
	margin-top:4px;
	background:#E57872;
}
#flash_success {
	color:#1F1F1F;
	padding:4px;
	margin-top:4px;
	background:#ADE6A4;
}
#flash_notice {
	color:#1F1F1F;
	padding:4px;
	margin-top:4px;
	background:#E2CB5D;
}
#tag_list {
	position:absolute;
	background-color:#F19B51;
	top:0;
	left:0;
	margin-left:45px;
	width:800px;
	height:75px;
}
#edit_button {
	position:absolute;
	bottom:0;
	right:0;
	margin-right:5px;
	margin-bottom:5px;
}	
#edit_button img{
	border:none;
}
#close_button {
	position:absolute;
	bottom:0;
	right:0;
	margin-right:2em;
	margin-bottom:5px;
}
#close_button a {
	font-family:helvetica;
	font-size:16pt;
}
#show_tags_link  {
	top:-20;
	background-color:#F19B51;
	color:#5B7DE3;
	padding:5px;
	text-decoration:none;
	text-align:center;
	width:100px;
	margin:0 auto;
}
#show_tags_link a {
	text-decoration:none;
	color:#4C6E4C;
}			


/*        FORMS            */

/* Standard From */
.session form {
	padding:0 0 4em;
}
fieldset{
	background:#F2F2F2 none repeat scroll 0 0	;
	border:none;
	padding:20px;

}
.session label {
	display:block;
	font-weight:bold;
	font-size:8pt;
}
.session input {
	width:90%;
	font-size:26px;	
}
.session input[type=checkbox] {
	width:20px;
}
.buttons input {
	width:120px;
	height:46px;
}
/* Form for book tags */
.tag_form label {
	float: none;
	text-align:top;
	color: gray;
	font-size:10pt;
}
.tag_form input {
	border:solid 2px #aacfe4;
	background-color: white;
	color: black;
	font-size: 10pt;
	width: 13em;
	margin-top: .5em;
	margin-left:0;
	padding: 7px;
}
.tag_form input[type=submit] {
	background-color: #9E9E9E;
	color: black;
	border:none;
	width:7em ;
	padding: 7px;
}

/* Class = show. This is for general forms in any show action */

ul.show {
	list-style:none;
	text-decoration:none;
	min-width:30em;
	margin-left:0;
	padding-left:0;
}
ul.show li {
	width:auto;
	padding:.5em;
	color:white;
	background-color:#584E4E;
}
li:hover.true {
	background-color:green;
}
li:hover.false {
	background-color:red;
}
#tag_list ul{
	padding-left:0;
	margin-top:15px;
	margin-left:4px;
	float:left;
	list-style:none;
	height:50px;
}
#tag_list li {
	text-align:center;
	width:100px;	
	margin-left:0;
	padding:4px;
	background-color:#3BE18D;
}
#tag_list a {
	color:#494949;
	width:100%;
	font-size:10pt;
}			


table.index {
	border-collapse: collapse;
	border-bottom:2px dotted black;
	width:800px;
	font-family:helvetica;
	font-size:16pt;
}
table.index thead tr th, table.index tfoot tr th {
	text-align:left;
	font-size: 8pt;
	padding: 4px;
}
table.index tbody td {
	color: #3D3D3D;
	padding:6px;
	background-color: #FFF;
	height:2em;
}
table.index tbody tr.odd td{
	background-color:#C9F8AF;
}
table.index tbody tr.even td{
	background-color:#F2F8CD;
}
table.index tbody tr:hover td{
	color:#FB9900;
	text-decoration: underline;
}
table.index td a {
	color:blue;
}

/*Tags Table*/
table.tags_table {
	width:40em;
}

table.tags_table  td {
	font-size:10pt;
	color:#000;
	max-width:3em;
	text-align:center;
	background-color:#8D9FB6;
	border:0.25px solid #4D5764;
}
table.tags_table  td a {
	text-decoration:none;
	color:#2A211C;
}
table.tags_table td.update_link a{
	text-decoration:none;
	color:#D6EB1F;
}
table.tags_table td.update_link a:hover{
	color:#ffffff;
}
/* Edit tags table */
table.edit_tags {
	width:400px;
}
table.edit_tags tr {
	color: gray;
	font-size:10pt;
	padding-bottom:0;
}
table.edit_tags td{
	padding-top:0;
}

/* Books index table */

table.books_index {
	border-collapse: collapse;
	border-bottom:2px dotted black;
	width:800px;
	font-family:helvetica;
	font-size:12pt;
}
table.books_index caption {
	padding:4px;
	text-align:left;
	background-color:#90A1D5;
}
table.books_index thead tr th, table.books_index tfoot tr th {
	text-align:left;
	font-size: 8pt;
	padding: 4px;
}
table.books_index tbody td {
	color: #3D3D3D;
	padding:6px;
	background-color: #FFF;
	height:2em;
	max-width:7em;
}
table.books_index tbody tr.discipline td{
	background-color:red;
}
table.books_index tbody tr.odd td{
	background-color:#C9F8AF;
}
table.books_index tbody tr.even td{
	background-color:#F2F8CD;
}
table.books_index tbody tr:hover td{
	color:#FB9900;
	text-decoration: underline;
}
table.books_index td a {
	color:blue;
}
