form {
	padding:0 0 4em;
}
fieldset{
	background:#F2F2F2 none repeat scroll 0 0	;
	border:none;
}
label {
	display:block;
	font-weight:bold;
	font-size:8pt;
}
input[type=text] {
	width:90%;
	font-size:26px;	
}
input[id=listing_price] {
	font-size:26px;	
	width:120px;
}
table.data  {
	width:90%;
}
.data tr {
}
.data td {
	text-align:center;
}