form {
	
}
fieldset{
	background:#F2F2F2 none repeat scroll 0 0	;
	border:none;
}
label {
	display:block;
	font-size:8pt;
	width:100px;
}
input[type=text] {
	width:90%;
	padding:5px;
	font-size:24px;
}
