body {
	background-color:#5C7EE6;
	font-family:helvetica;
}
h1 {
	clear:left;
	font-size:18pt;
	color:#363636;
}
h1 a {
	font-size:18pt;
	color:#363636;
}
h2 {
	margin-top:20px;
	font-size:12pt;
	color:#363636;
}
h3 {
	font-size:12pt;
	color:#363636;
}
h3 a {
	color:#363636;
	text-decoration:none;
}
h3 a:hover {
	color:green;
	border-bottom:1px solid yellow;
}
#container a.highlight {
	font-size:10pt;
	width:7em;
	padding:5px;
	color:#3C3C3C;
	background-color:#F2D37A;
}
#header {
	position:absolute;
	margin-top:0;
	width:900px;
	height:110px;
	margin-left:10%;
	margin-right:5%;
	padding-left:3em;	
}
#header img{
	float:left;
	border-style: none;
}
#session_bar {
	width:300px;
	height:90px;
	float:right;
	margin-top:14px;
	margin-right:6em;
	padding-left:5px;
	background-color:#2A211C;
}
#session_bar ul {
	height:60%;
	font-size:12pt;
	list-style:none;
	margin-top:5px;
	margin-left:0;
	padding-left:0;
	background-color:#2A211C;
}
#session_bar li {
	text-align:left;
	color:white;
}
#session_bar li a {
	font:arial;
	color:white;
	text-decoration:none;
}
#session_bar li a:hover {
	font:arial;
	color:yellow;
	text-decoration:none;
}
#info_bar {
	color:#FFFFE3;
	position:absolute;
	margin-top:80px;
	margin-left:13%;
	margin-right:5%;
	height:40px;
	width:480px;
	padding-left:5px;
}
#container {
	position:absolute;
	background-image:url(/images/bookup_background.png);
	background-repeat:no-repeat;
	background-color:#fff;
	width:900px;
	height:800px;
	margin-top:110px;
	margin-left:10%;
	margin-right:5%
}
#center {
	background-color:#fff;
	width:800px;
	height:600px;
	margin-top:0.7em;
	margin-left:3em;
	margin-right:3em;
}
#waiting_divs {
	position:absolute;
	top:0;
	width:400px;
	min-height:300px;
	background-color:#96BBBB;
	margin-top:10px;
	margin-left:25%;
	padding:10px;
}
#average_book_price {
	position:relative;
	width:450px;
	background:#3BE18D;
	font-family:helvetica;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
	padding:2px;
}
#average_book_price p {
		font-size:20pt;
		margin:5px;
}


.formError {
	padding:10px;
	margin-left:0;
	background:#C5656B;
}
#red_ex {
	background-color:red;
	float:left;
}
#flash_failure {
	color:#1F1F1F;
	padding:4px;
	margin-top:4px;
	background:#E57872;
}
#flash_success {
	color:#1F1F1F;
	padding:4px;
	margin-top:4px;
	background:#ADE6A4;
}
#flash_notice {
	color:#1F1F1F;
	padding:4px;
	margin-top:4px;
	background:#E2CB5D;
}
#tag_list {
	position:absolute;
	background-color:#F19B51;
	top:0;
	left:0;
	margin-top:10px;
	margin-left:45px;
	width:800px;
	height:75px;
}
#edit_button {
	position:absolute;
	bottom:0;
	right:0;
	margin-right:5px;
	margin-bottom:5px;
}	
#edit_button img{
	border:none;
}
#close_button {
	position:absolute;
	bottom:0;
	right:0;
	margin-right:2em;
	margin-bottom:5px;
}
#close_button a {
	font-family:helvetica;
	font-size:16pt;
}
#show_tags_link  {
	background-color:#F19B51;
	color:#5B7DE3;
	padding:5px;
	text-decoration:none;
	text-align:center;
	width:100px;
	margin-left:auto;
	margin-right:auto;
}
#show_tags_link a {
	text-decoration:none;
	color:#4C6E4C;
}