body {
	background-color:#5C7EE6;
	font-family:helvetica;
}
h1 {
	font-size:18pt;
	color:#363636;
}
h1 a{
	font-size:18pt;
	color:#363636;
}

h2 {
	font-size:12pt;
	color:#363636;
}
h3 {
	font-size:12pt;
	color:#363636;
}
h3 a {
	color:#363636;
	text-decoration:none;
}
h3 a:hover {
	color:green;
	border-bottom:1px solid yellow;
}

#header {
	position:absolute;
	margin-top:0;
	width:900px;
	height:110px;
	margin-left:10%;
	margin-right:5%;
	padding-left:3em;	
}
#header img{
	float:left;
	border-style: none;
}


#session_bar {
	width:300px;
	height:100px;
	float:right;
	margin-top:15px;
	margin-right:6em;
	padding-left:5px;
	background-color:#2A211C;
}
#session_bar ul {
	height:80px;
	width:90%;
	font-size:12pt;
	list-style:none;
	margin-top:5px;
	margin-left:0;
	padding-left:0;
	background-color:#2A211C;
}
#session_bar li {
	text-align:left;
	color:white;
}
#session_bar li a {
	font:arial;
	color:white;
	text-decoration:none;
}
#session_bar li a:hover {
	font:arial;
	color:yellow;
	text-decoration:none;
}

#info_bar {
	color:#FFFFE3;
	position:absolute;
	margin-top:80px;
	margin-left:13%;
	margin-right:5%;
	height:40px;
	width:480px;
	padding-left:5px;
}


#container {
	position:absolute;
	background-image:url(/images/bookup_background.png);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
	margin-top:110px;
	margin-left:10%;
	margin-right:5%
}
#center {
	margin-top:3em;
	margin-left:3em;
	margin-right:3em;
}
#waiting_divs {
	position:absolute;
	top:0;
	width:400px;
	min-height:300px;
	background-color:#96BBBB;
	margin-top:10px;
	margin-left:25%;
	padding:10px;
}
#average_book_price {
	width:450px;
	height:100%;
	background:#3BE18D;
	font-family:helvetica;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
	padding:2px;
}
#average_book_price p {
		font-size:20pt;
		margin:5px;
}

