table.index {
	border-collapse: collapse;
	border-bottom:2px dotted black;
	width:800px;
	font-family:helvetica;
	font-size:16pt;
}
table.index thead tr th, table.index tfoot tr th {
	text-align:left;
	font-size: 8pt;
	padding: 4px;
}
table.index tbody td {
	color: #3D3D3D;
	padding:6px;
	background-color: #FFF;
	height:2em;
}
table.index tbody tr.odd td{
	background-color:#C9F8AF;
}
table.index tbody tr.even td{
	background-color:#F2F8CD;
}
table.index tbody tr:hover td{
	color:#FB9900;
	text-decoration: underline;
}
table.index td a {
	color:blue;
}

/*Tags Table*/
table.tags_table {
	width:35em;
}

table.tags_table  td {
	font-size:10pt;
	font-weight:bold;
	color:#000;
	text-align:center;
	background-color:#8D9FB6;
	border:0.25px solid #4D5764;
}
table.tags_table td.update_link a{
	text-decoration:none;
	color:#2A211C;
}
table.tags_table td.update_link a:hover{
	color:#ffffff;
}



