<p>
	So you think that you could do better? Well, here is your chance! 
	Think Fast Tanks is always on the lookout for exceptionally bright people to 
	join the computing revolution. Send us an <a href='mailto:jobs@thinkfasttank.com'>email</a>!
</p>