<p>
	You can thank <a href='http://www.thinkfasttank.com'>Think Fast Tank</a> for 
	sponsoring BookUp. Think Fast Tank is a software consulting firm that is determined
	to harness the power of machines for humans. Talk to Ryan Smith and find out if
	Think Fast Tank can move your idea to the web.  
</p>