<h3>your books</h3>

<table>
<thead>
  <tr>
	  <th>Title</th>
	  <th>Status</th>  
	  <th>Listing Date</th>  
	  <th>Last Hit Date</th>  
  </tr>
</thead>
<tbdoy>

</tbody>
</table>
	


<%= link_to "add a new book to the marketplace", new_book_path %>