<div id="center">
	<h2>Update tags or <%= link_to "Go to Book.", @book, :class => 'highlight' %></h2>
	<%= render :partial => 'edit_books_tags', :locals => { :book => @book }%>
</div><!--end center-->