<div id="center">
	<table>
	<% Book.find_and_sort().each do |discipline,books| %>
		<tr style='color:red;'><td><%= discipline %></td></tr>
		<% books.each do |book|%>
			<tr><td><%= book.title %></td></tr>
		<% end %>
	<% end %>
	</table>
	<p> Have a book that is not on the list? </p>
	<%= link_to "add it to the list", new_book_path %>
</div><!--end center-->
